<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dub Nation</title>

    <!-- Bootstrap Core CSS -->
    <link href="styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="styles/css/clean-blog.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/styles/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="scripts/app.js"></script>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">A GA Project</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#blogsTarget">Home</a>
                    </li>
                    <li>
                        <a href="#createAnAccount">Create an Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('http://i.imgur.com/aZROrVf.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Dub Nation Blog</h1>
                        <hr class="small">
                        <span class="subheading">The Best Stop for Warrior Fans</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div id="blogsTarget">
        <script id="blog-template" type="text/x-handlebars-template">
            <div class="container">
                <div class="row">
                    <div class="blogId" data-blogId="{{_id}}">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="post-preview">
                              <h2 class="post-title">
                              {{blogTitle}}
                              </h2>
                              <h4>Read the Story <a href="{{blogLink}}">Here</a></h4>
                                <p class="post-meta">Posted by <b>{{blogPoster.username}}</b> on {{blogDate}}</p>
                                <p class="post-subtitle">
                                  <span class='blog-body'>
                                    {{blogBody}}
                                  </span>
                                </p>
                            </div>

                            <!-- delete and edit buttons -->
                            <div class='panel-footer'>
                                <button class='btn btn-danger delete-blog' data-id={{_id}}>Delete Post</button>
                                <button class='btn btn-info edit-blog' data-id="{{_id}}">Edit Post</button>
                                <button class='btn btn-success save-blog hidden' data-id="{{_id}}">Save Changes</button>
                            </div>

                            <!-- comments section -->
                            <p class="post-meta"><strong>{{blogComment.length}} comments</strong></p>
                            {{#each blogComment}}
                            <div class='panel-footer ind-comments'>
                                <div><strong>{{user}} says:</strong></div>
                                <div>{{commentBody}}</div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </script>
    </div>
<br>
    <div class="col-md-10 col-md-offset-1">
        <section id='user-form' class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <form class="form-horizontal" id="form-blogPost" method="post" action="/api/blogs">
                        <fieldset>

                            <!-- Form Name -->
                            <legend id='createABlogPost'>Create a New Blog Post</legend>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="blogPoster">Username</label>
                                <div class="col-md-10">
                                    <input id="blogPoster" name="blogPoster" type="text" placeholder="Username" class="clear form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="blogTitle">Blog Title</label>
                                <div class="col-md-10">
                                    <input id="blogTitle" name="blogTitle" type="text" placeholder="Title of Post" class="clear form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="blogLink">Link to Story</label>
                                <div class="col-md-10">
                                    <input id="blogLink" name="blogLink" type="text" placeholder="Full Link to the Story" class="clear form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="blogDate">Date Posted</label>
                                <div class="col-md-10">
                                    <input id="blogDate" name="blogDate" type="text" placeholder="Date of Post" class="clear form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="blogBody">Blog Content</label>
                                <div class="col-md-10">
                                    <textarea rows="20" id="blogBody" name="blogBody" type="text" placeholder="Please write your content here." class=" clear form-control input-md"></textarea>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="createPost"></label>
                                <div class="col-md-4">
                                    <button id="createPost" name="createPost" class="btn btn-primary">Post!</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </div>
    </footer>







    <!-- Bootstrap Core JavaScript -->
    <script src="styles/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/scripts/js/jqBootstrapValidation.js"></script>
    <script src="/scripts/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="/scripts/js/clean-blog.min.js"></script>

</body>

</html>
