.ind-comments{
	background-color: #60c0dc;
}

.edit-blog-body{
	height: 200px;
	width: 900px;
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
}

#createNewAccount {
	text-align: center;
}

#userImg {
	height: 50px;
	width: 50px;
	float: left;
}
